
main {
min-height: 750px;
}

h2 {
margin-bottom: 15px;
}

img{
max-width: 600px;
max-height: 600px;
width: 100%;
display: flex;
float: right;
margin-left: 30px;
}

img.obra {
min-width: 200px;
max-width: 250px;
}

img.main-obra {
width: auto;
max-height: 750px;
}

main h1 {
margin-bottom: 15px;
}
main p {
text-align: justify;
font-size: 1.2rem;
}

section > img {
display: inline-flex;
flex-wrap: wrap;
}
.link {
text-align: center;
}

@media (max-width: 800px) {

img.main-obra { 
display: block;
margin: 15px auto;
float: none;
}}

