@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #CFD6EA;
    --cor2: #B0B2B8;
    --cor3: #7D7E75;
    --cor4: #4F5D2F;
    --cor5: #423629;
    --cor6: #FF101F;
    --fonte1: 'Quicksand', sans-serif;
    --fonte2: 'Cinzel Decorative', cursive;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte1);
}

header{
    background-image: linear-gradient(to bottom, #68523b,  var(--cor5));
    color: var(--cor1);
    text-align: center;
    padding: 20px 0px;
    font-family: var(--fonte2);
}
h1 {
    font-size: 3em;
    font-family: var(--fonte2);
}

nav {
    background-color: var(--cor5);
    padding: 20px 0px;
    text-indent: 30px;
}

a {
    text-decoration: none;
    color: var(--cor1);
}

div {
    display: flex;
    justify-content: center;
}
img{
    max-width: 300px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

main{
    background-color: var(--cor1);
    max-width: 1500px;
    margin: auto;
    padding: 25px;
}

p {
    text-indent: 30px;
    margin: 0px 0px 25px 0px;
}

footer {
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}

footer > p {
    margin: 0px;
}

footer > p > a {
    text-decoration: underline;
}